<!DOCTYPE html>
<html>
<head>
	<title><%=plant.name%></title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<h1 align="center"><b><%=plant.name%></b></h1>
</head>
<body>
	<img src ="<%=plant.imageLink%>" width="300" height="350">
	<p style="font-size: 20px"><b>ABOUT :</b></p>
	<p><%=plant.about%></p>
	<p style="font-size: 20px"><b>SUNLIGHT :</b></p>
	<p><%=plant.sunlight%></p>
	<p style="font-size: 20px"><b>WATERING :</b></p>
	<p><%=plant.watering%></p>
	<p style="font-size: 20px"><b>POTTING MIX :</b></p>
	<p><%=plant.pottingMix%></p>
</body>
</html>  